@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600&family=Miriam+Libre:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400:500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root > div[data-rk] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > div[data-rk] nav + div {
  flex-grow: 1;
}

@layer base {
  html {
    @apply text-grey-500;
    font-family: Libre Franklin;
  }

  h1 {
    @apply text-7xl;
    font-family: Miriam Libre;
  }

  h2 {
    @apply text-5xl;
    font-family: Miriam Libre;
  }

  h3 {
    @apply text-3xl;
    font-family: Miriam Libre;
  }

  h4 {
    @apply text-2xl;
    font-family: Miriam Libre;
  }

  h5 {
    @apply text-base;
    font-family: Miriam Libre;
  }

  h6 {
    @apply text-sm;
    font-family: Miriam Libre;
  }

  p {
    @apply text-base;
  }
}

/* Custom CSS for react-tagsinput */
.react-tagsinput {
  background-color: #fff;
  border: 2px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
  border-radius: 0.375rem; /* Rounded-md */
}
.react-tagsinput-input {
  background: transparent;
  border: 0;
  border-radius: 20px;
  border-color: transparent;
  color: transparent;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
  border-radius: 0.375rem; /* Rounded-md */
}

.react-tagsinput-tag {
  background-color: #6f3ff5;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 0.375rem; /* Rounded-md */

}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}
