@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600&family=Miriam+Libre:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400:500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

#root > div[data-rk] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > div[data-rk] nav + div {
  flex-grow: 1;
}

@layer base {
  html {
    @apply text-grey-500;
    font-family: Libre Franklin;
  }

  h1 {
    @apply text-7xl;
    font-family: Miriam Libre;
  }

  h2 {
    @apply text-5xl;
    font-family: Miriam Libre;
  }

  h3 {
    @apply text-3xl;
    font-family: Miriam Libre;
  }

  h4 {
    @apply text-2xl;
    font-family: Miriam Libre;
  }

  h5 {
    @apply text-base;
    font-family: Miriam Libre;
  }

  h6 {
    @apply text-sm;
    font-family: Miriam Libre;
  }

  p {
    @apply text-base;
  }
}

/*  New Code Css for multi select tags inputs */
.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput--focused {
  border-color: #bbb; /* Changed to a neutral grey */
}

.react-tagsinput-tag {
  background-color: #eee; /* Changed to light grey */
  border-radius: 2px;
  border: 1px solid #bbb; /* Changed to a neutral grey */
  color: #333; /* Changed to dark grey */
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777; /* Kept as is since it's already grey */
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}
